<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách Tour</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
    <div class="container">
        <h1>Danh sách Tour</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Mã Tour</th>
                    <th>Tên Tour</th>
                    <th>Giá Tour</th>
                    <th>Mô Tả</th>
                    <th>Thời Gian Khởi Hành</th>
                    <th>Thời Gian Kết Thúc</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tour : ${tours}">
                    <td th:text="${tour.maTour}"></td>
                    <td th:text="${tour.tenTour}"></td>
                    <td th:text="${tour.giaTour}"></td>
                    <td th:text="${tour.moTa}"></td>
                    <td th:text="${tour.formattedThoiGianKhoiHanh}"></td>
                    <td th:text="${tour.formattedThoiGianKetThuc}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>